@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #113946; 
}
html{
    scroll-behavior: smooth;
}
p{
    color: rgb(78, 71, 71);
}
a, .btn {
    transition: all 300ms ease;
}
nav, 
.nav-links{
    display: flex;
}
nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}
.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}
a {
    color: #d3b66b;
    text-decoration: none;
    text-decoration-color: white;
}
a:hover {
    color: #a7e64f;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgba(181, 181, 181, 0.892);
}
.logo{
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.889);
}
.logo:hover{
    cursor: default;
}
#hamburger-nav{
    display: none;
}
.hamburger-menu{
    position: relative;
    display: inline-block;
}
.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}
.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: #eeeeeee0;
    transition: all 0.3 ease-in-out;
}
.menu-links{
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}
.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}
.menu-links li{
    list-style: none;
}
.menu-links.open{
    max-height: 300px;
}
.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px,5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px,-5px);
}
.hamburger-icon span:first-child{
    transform:none;
}
.hamburger-icon span:first-child{
    opacity: 1;
}
.hamburger-icon span:first-child{
    transform:none;
}

section{
    padding-top: 4vh;
    height:96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}
.section-container{
    display: flex;
}
#profile{
    display:flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}
.section__pic-container{
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0; 
}
.section__pic-container img{
    border-radius: 10%;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 2px 8px;

}
.section__text {
    align-self: center;
    text-align: center;
}
.section__text p{
    font-weight: 600;
}
.section__text__p1{
    text-align: center;
    color: rgb(36, 7, 7);
    /* shadow */
}
.section__text__p1{
    font-size: 1.75rem;
    margin-bottom: 1rem; 
}
.section__text__p2{
    color: rgb(31, 8, 8);
    font-size: 45px;
    text-shadow: 1px 1px 10px grey;
}
.title{
    font-size: 3rem;
    text-align: center;
    color: #18bee8;
    text-shadow: -10px 10px 5px #092635;
    /*shadow*/
}
#socials-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}
.icon{
    cursor: pointer;
    height: 3rem;
}
.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.btn{
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius:2rem;
    height: 4rem;
}
.btn-color-1, .btn-color-2{
    margin-top: 20px;
    border: rgb(67, 62, 62)0.1rem solid;
    transform:
    perspective(750px)
    translate3d(0px, 0px, -250px)
    rotateX(27deg)
    scale(0.9, 0.9);
}
.btn-color-1:hover, .btn-color-2:hover{
    margin-top: 20px;
    border: rgb(79, 71, 71)0.1rem solid;
    background-color: #FEE8B0;
    transform: translate3d(0px, 0px, -250px);
    cursor: pointer;
}
.btn-container{
    gap:0.5rem;
}
#about{
    position: relative;
}
.about-containers{
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.about-details-container{
    justify-content: center;
    flex-direction: column;
}
.about-containers,
 .about-details-container {
    display: flex;
}
.about-pic{
    border-radius: 2rem;
}
.arrow{
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
    transform:
    perspective(2000px)
    translate3d(0px, -66px, 198px)
    rotateX(-55deg)
    scale3d(0.86, 0.75, 1)
    translateY(50px);
  border-radius: 5px;
  will-change: transform;
  transition: 0.4s ease-in-out transform;
}
.arrow:hover{
    transform: scale3d(1, 1, 1)
}
.details-container{
    padding: 1.5rem;
    flex: 1;
    background: #716e65;
    border-radius: 2rem;
    border: rgb(70, 65, 65)0.1rem solid;
    border-color: rgb(163,163,163);
    text-align: center;
}
.section-container{
    gap:4rem;
    height: 80%;
}
.section__pic-container{
   height: 400px;
   width: 400px;
   margin: auto o;
   
}
.details-container p{
    color: #3e3c3b;
}
.ul-li{
    margin: 15px;
}
#experience{
    position: relative;
}
.experience-sub-title{
    color: black;
    text-shadow: 2px 2px rgb(133, 126, 126);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}
.experience-details-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.article-container{
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}
article{
    display: flex;
    width: 10rem;
justify-content: space-around;
gap: 0.5rem;
}
article .icon{
    cursor: default;
}
#projects{
    position: relative;
}
.color-container {
    border-color: rgb(170, 162, 162);
    background: #898577;
}
.project-img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}
.project-title{
    margin:1rem;
    color: #0a3448;
}
.project-btn {
    color: black;
    border-color: rgb(148, 140, 140);
}
#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}
.contact-info-upper-container{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: #8e8c84 0.1rem solid;
    border-color: rgb(198, 198, 147);
    background: (250,250,250);
    margin: 2rem auto;
    padding: 0.5rem;
}
.contact-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.5rem;
    margin: 1rem;
}
.contact-info-container p {
    font-size: larger;
}
.contact-icon {
    cursor: default;
}
.email-icon{
    height: 2.5rem;
}
footer{
    height: 26vh;
    margin:0 1rem;
}
footer p{
    text-align: center;
    color: rgb(49, 162, 170);
}
.text-container p {
    color:rgb(227, 204, 161);
}